*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App{

}

.users{
  width: 800px;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  margin: 15px auto;
  border: 3px solid darkblue;
  cursor: pointer;
}

.header{
  display: flex;
  align-items: center;
  background-color: aliceblue;
  width: 100vw;
  height: 70px;
}

.header__login{
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.login {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.login__form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login label,
.login input {
  align-self: flex-start;
  margin: 10px;
}

.login input[type="submit"] {
  margin-top: 10px;
}

.user{
  margin-top: 10px;
  width: 800px;
  display: flex;
  flex-direction: column;
  margin-left:200px;
  align-items: center;
}
.user__content{
  display: flex;
  flex-direction: row;
  align-items: flex-start;

}